<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <script src="/node_modules/react/dist/react.js" charset="utf-8"></script>
    <script src="/node_modules/react-dom/dist/react-dom.js" charset="utf-8"></script> -->
    <script src="https://npmcdn.com/react@15.3.0/dist/react.js"></script>
    <script src="https://npmcdn.com/react-dom@15.3.0/dist/react-dom.js"></script>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title" charset="utf-8">
    <!-- <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet"> -->
    <title>Banking App</title>
  </head>
  <body>
    <div>
      <h1>Banking App</h1>
      <div id="root"></div>
      <script src="/components/main.js" type="text/babel"></script>
    </div>
  </body>
</html>
